@import url("http://mapa.ign.gob.ar/argenmap/js/closure-library/closure/goog/css/autocomplete.css");
@import url("http://mapa.ign.gob.ar/argenmap/js/closure-library/closure/goog/css/common.css");
@import url("http://mapa.ign.gob.ar/argenmap/js/closure-library/closure/goog/css/toolbar.css");
@import url("http://mapa.ign.gob.ar/argenmap/js/closure-library/closure/goog/css/button.css");
.argenmapMapCanvas {
	width:100%;

	min-height:200px;
}

.argenmapMapHeader {
 
	background-color:#00588B;
	height:50px;
	color:white;
	padding:0px;
}

.argenmapMapFooter {
	font-family:Arial;
	color: #444;
	background-color:#00588B;
	font-size:10px;
	text-align:right;
	height:20px;
	color:white;
	padding:2px 5px;

}

#Esto es feo y para pisar el color de la barra de bootstrap

.navbar-inner {
	background-color: #00588B !important;
}